@import "bootstrap/scss/bootstrap";

.img-wrap {
  height: 600px;
  object-fit: cover;
}
.product-sm-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform ease 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
.zx-99 {
  z-index: 99;
}
